html, body {
  font-family:'', sans-serif;
  font-size: 16px;
}
strong {
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.media60 {
    width: 60%;
}
.media40 {
    width: 40%;
}
.media35 {
    width: 35%;
}
/*Nav menu Styles*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  margin: 0 1.5rem 0 1.5rem;
}
nav li, ul {
  display: inline-block;
}
nav li {
  margin-left: 1rem;
}
nav span {
  flex-grow: 1;
  font-size: 1.2rem;
}
.mobilemenu{
  display: none;
}
@media only screen and (max-width: 768px) {
  nav {
    margin: auto;
  }
  .desktopmenu {
    display: none;
  }
  .mobilemenu{
    display: flex;
    justify-content: space-around;
  }
}
/*Banner Rules*/
.banner {
  display:flex;
  align-items: center;
  background-color: silver;
}
.banner .media60 {
 padding: 2rem 1.5rem 2rem 1.5rem;
}
.banner img {
  max-width: 100%;
}
.start {
  margin-left: 1.5rem;
  border: thin solid black;
}
.banner h1 {
  margin-bottom: 2rem;
}
.banner h3 {
  margin-bottom: 2rem;
}
.button {
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
  background-color: gray;
  /*INSERT TRANSITION HERE*/
}
@media only screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .banner .media60 {
    width: 100%;
    padding: 0;
  }
  .start {
    width: 100%;
    margin: 0 1rem 0 1rem;
  }
  .banner h1 {
    margin: 2rem 1rem;
  }
  .banner h3 {
    margin: 0 1rem 1.5rem 1rem;
  }
  .button {
    margin: 0 1rem 2rem 1rem;
  }
}
/*Information Section*/
.information {
  display: flex;
  padding: 1rem 0rem 2rem 0;
}
.information .media60{
  padding: 1rem 1.5rem 0 1.5rem;
}
.mobile {
  display: none;
}
.main {
  border: thin solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main img {
  max-width: 100%;
}
.main h2 {
  margin-bottom: 1.5rem;
}
.secondary {
  display: flex;
  flex-direction: column;
  background-color: silver;
  width: 40%;
}
.orientation,.campus,.guest {
  display: flex;
  align-items: center;
}
.secondary img{
  padding: 1rem;
  width: 35%;
  height: 100%;
}
.secondary p{
  padding: 0.5rem 0;
}
@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inline;
  }
  .information{
    padding: 0;
  }
  .secondary {
    width: 100%;
    padding: 1rem;
  }
  .orientation,.campus,.guest {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .secondary img{
    width: 100%;
  }
  .supporting {
    width: 100%;
    margin-left: 1rem;
  }
}
/*Learning Section*/
.learning {
  padding: 2rem 4.5rem 1rem 4.5rem;
}
.learning h2 {
  text-align: center;
  padding-bottom: 1rem;
}
.course {
  display: flex;
  justify-content: center;
}
.course img{
  max-width: 100%;
  height: auto;
}
.feature {
  margin: 1rem;
  background-color: white;
}
.learning .mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .learning .desktop{
    display: none;
  }
  .learning .mobile{
    display: flex;
    flex-direction: column;
  }
  .learning h2 {
    padding-bottom: 1.25rem;
  }
  .learning {
    padding: 2rem 1rem 2rem 1rem;
  }
  .coursebox{
   margin: 0.25rem 0;
   background-color: silver;
  }
  .coursebox h3{
    padding: 1rem;
  }
}
